<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% comment %} <ol>
        {% for task in tasks %} 
            <li>
                {{task.title}}
                {% for emp in task.assigned_to.all %}
                    <p>{{emp.name}}</p>
                {% endfor %}
            </li>
        {% endfor %}
    </ol> {% endcomment %}
    {% for project in projects %}
    <p>{{project.name}}</p>
    <p>{{project.total_task}}</p>
    {% endfor %}
    <p>Total task : {{task_count.total}}</p>
    
    </div>
</body>
</html>