{% extends "base.html" %}
{% block content %}

    <div class= "w-1/2 mx-auto my-4 pb-5">
        <form method= "POST">
            {% csrf_token %}
            {{form}}
            <button type= "button" id="select-all-btn" class="px-2 py-1 text-white bg-green-500 rounded mt-4">Select All</button>

            <button type = "submit" class= "px-2 py-1 text-white bg-blue-500 rounded">Assign Role</button>
        </form>
    </div>

    <script>
        document.getElementById('select-all-btn').addEventListener('click', function () {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = true; // Select all checkboxes
            });
        });
    </script>
    

{% endblock content %}