{% extends "base.html" %}
{% block title %}Taskify | Registration{% endblock title %}
{% block content %}
        
    <div class="md:w-1/3 mx-auto md:mt-8 bg-white p-8 rounded-lg md:shadow-lg mb-10">

        {% if messages %}
        <div class="flex items-center px-4 py-3 mb-4 rounded-lg shadow-md bg-green-400 text-white">
            
                {% for message in messages %}
                <span>{{ message }}</span>
                {% endfor %}
            
        </div>
        {% endif %}
    
        <h1 class="text-2xl font-bold mb-6 text-gray-800 text-center">Welcome to Authentication system</h1>  

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        {{error}}
        {% endfor %}
        {% endif %}

    <form action="" method = "POST">
        {% csrf_token %}
        {% for field in form %}
        <p>
        
        {{field}}

        {% if field.errors %}
        <ul>
        {% for error in field.errors %}
        
            <li>{{error}}</li>
        
        {% endfor %}
        </ul>
        {% endif %}
        </p>
        {% endfor %}

        <div class="text-center py-3">
            <button type="submit" class="w-1/3 p-3 text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Sign Up</button>
        </div>
        
    </form>
    </div>


{% endblock content %}